/* NAVBAR CON COLORI DIAGONALI */
.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  height: calc(100vh - 4rem);
  transition: background 0.3s ease-in-out;
  z-index: 999;
  background: linear-gradient(
    135deg,
    #0055ff 0%,
    #0055ff 33%,
    #ff0000 33%,
    #ff0000 66%,
    #ffe600 66%,
    #ffe600 100%
  );
}


/* LOGO NAVBAR */
.navbar__logo {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: auto;
}

.navbar__logo img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* LINK NAVBAR */
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #ffffff;
  transition: color 250ms ease;
  cursor: pointer;
  transition: transform 0.25s ease;
  
}

.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #ffffff;
  background: #383838;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  transition: 250ms ease all;
  white-space: nowrap;
}

.navbar:not(:hover) .navbar__link:focus span,
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}

.navbar__link:hover {
  color: #ffffff;
  transform: scale(1.3);
  
}

/* ZOOM ICONA */
.navbar__link .icon {
  display: inline-block;  /* aggiunto */
  stroke: currentColor;
  fill: none;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.25s ease;
}

.navbar__link:hover .icon {
  transform: scale(1.3);
}

/* MENU */
.navbar__menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LINK ATTIVO */
.navbar__link.active {
  color: #2461a3;
  background-color: #ffe600;
  border-radius: 25%;
}

/* TOGGLE MOBILE */
.navbar__toggle {
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  left: auto;
  background: #ffffff;
  border: 2px solid #383838;
  z-index: 999;
  cursor: pointer;
  color: #383838;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.navbar__toggle:active {
  background: #383838;
  color: white;
}

.navbar__toggle.active svg {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}



@media (max-width: 768px) {

  .navbar {
    transform: translateX(-100%);
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s ease;
    width: 92%;
    z-index: 998;
    height: max-content;
  }

  .navbar--open {
    visibility: visible;      
    pointer-events: auto;  
    transform: translateX(0);
  }

  .navbar__toggle {
    visibility: visible;      
    pointer-events: auto; 
  }

  .navbar__link {
    display: flex;
    flex-direction: column;   
    align-items: center;        
    justify-content: center;   
    width: 100%;  
    height: auto;              
    padding: 1rem;              
    color: white;  
    text-decoration: none;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);             
    cursor: pointer;
  }

    .navbar__link:hover,
    .navbar__link:focus {
      color: #ffffff;;  
    }


  .navbar__link span {
    position: relative;
    opacity: 1 !important;                    
    pointer-events: auto !important;          
    transform: translate(0) !important;       
    background: transparent;                   
    box-shadow: none;                          
    white-space: normal;                       
    left: auto;
    margin-left: 0;
  }

  .navbar__link.active {
    border-radius: 0%;
    color: #2461a3;
  }

  .navbar__link.active span {
    color: #2461a3;
  }

  .navbar__logo{
    visibility: hidden;
  }
}